<div class="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a ui-sref="editArticle({id:0})" class="btn blue"><i class="fa fa-plus"></i> 添加</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div tasty-table bind-resource="resource" watch-resource="collection">
    <table class="table datatable table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th width="80">
                序号
            </th>
            <th>
                标题
            </th>
            <th>
                发布状态
            </th>
            <th>
                页面浏览
            </th>
            <th>
                创建时间
            </th>
            <th>
                编辑
            </th>
            <th>
                删除
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows">
            <td>{{row.Id}}</td>
            <td>{{row.Title}}</td>
            <td>{{row.Publish}}</td>
            <td>{{row.Views}}</td>
            <td>{{row.CreateTime}}</td>
            <td><a ui-sref="editArticle({id:row.Id})">编辑</a></td>
            <td><a href="javascript:void(0)" ng-click="deleteArticle(row.Id)">删除</a></td>
        </tr>
        </tbody>
    </table>
    <div tasty-pagination></div>
</div>