<a name="post-top"></a>
<div class="row blog-post" ng-repeat="article in articles">
    <div class="col-md-4">
        <div class="blog-post-thumb">
            <a ui-sref="detail({articleId:article.Id})" title="{{article.Title}}" target="_blank">
                <img src="{{article.CoverImgPath}}" alt="{{article.Title}}"/>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <h2 class="blog-post-title">
            <a ui-sref="detail({articleId:article.Id})" title="{{article.Title}}"
               target="_blank">{{article.Title}}</a>
        </h2>
        <p class="blog-post-meta">{{article.PublishTime}} | 分类：<a
                ui-sref="list({categoryId:article.CategoryId})" target="_blank">{{article.CategoryName}}</a> |
            作者：{{article.Author}} | 评论：{{article.Views}}</p>

        <div class="blog-post-description">
            {{article.Description}}
        </div>
    </div>
</div>
<div class="row">
    <pagination
            boundary-links="true"
            total-items="totalItems"
            ng-model="currentPage"
            items-per-page="itemsPerPage"
            class="pagination-sm"
            ng-change="pageChanged()"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
    </pagination>
</div>
