<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu">
            <li class="sidebar-toggler-wrapper">
                <div class="sidebar-toggler hidden-phone">
                </div>
            </li>
            <!-- 菜单 -->
            <li class="start">
                <a ui-sref="home">
                <i class="fa fa-home"></i>
                    <span class="title">
                        首页
                    </span>
                </a>
            </li>
            <li class="active open">
                <a href="javascript:void(0)" title="内容管理">
                    <i class="fa "></i>
                        <span class="title">
                           内容管理
                        </span>
                        <span class="arrow">
                        </span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a ui-sref="category" title="类别管理">
                            <i class="fa "></i>
                            类别管理
                        </a>
                    </li>
                    <li>
                        <a ui-sref="article" title="文章管理">
                            <i class="fa "></i>
                            文章管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>